img{
    border: 1px solid black;
    border-radius: 10px;
    transition: 0.5s border;
    height: 200px;
    width: 200px;
}

img:hover {
    border: 5px solid black;
}


#torn{
    position: fixed;
    top: 15%;
    left: 5%;
    width: 47px;
    height: 47px;
    border-radius: 10px;
    border:3px solid white;
    transition: background-color 250ms;
    transition: border 500ms;
    background-color: grey;
}

#torn:hover{
    border: 3px solid black;
}